POSTGRES_NAME='db_name'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='1'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'

SECRET_KEY="django-insecure-+a%e&#+w618y0wbp+fh0ao^5@kl=v%irxn(i=l49kx7wb#q_dH"

REDIS_HOST='loaclhost'
REDIS_PORT=6379

EMAIL_HOST_USER="acc"
EMAIL_HOST_PASSWORD="app key"
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=465
EMAIL_USE_SSL=True

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''