{% extends 'justjoin/auth/candidate/auth-base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block main_content %}
    <div class="form-header">
        <a href="{% url 'login_page' %}" class="back-arrow" title="Back">←</a>
        <h1 class="form-title">Sign in to account</h1>
    </div>
    <div class="card">
        <p class="card-subtitle">Enter email and password to your account</p>
        <form method="POST" action="{% url 'login_by_email_page' %}">
            {% csrf_token %}
            <div class="field">
                <label for="email">Email<span class="required">*</span></label>
                <label for="emailInput"></label><input type="email" name="email" id="emailInput" placeholder="Email address" required/>
                <span class="field-error" id="emailError"></span>
            </div>

            <div class="field">
                <label for="password">Password<span class="required">*</span></label>
                <div class="password-wrap">
                    <label for="passwordInput"></label><input type="password" name="password" id="passwordInput" placeholder="At least 8 characters"
                                                              autocomplete="current-password" required/>

                    <button class="eye-btn" id="eyeBtn" type="button" title="Show/hide password">
                        <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94">
                            </path>
                            <path d="M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19"></path>
                            <line x1="1" y1="1" x2="23" y2="23"></line>
                        </svg>
                    </button>
                </div>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" style="color: white; background-color: #dc3545;">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <span class="field-error" id="passwordError"></span>
            </div>
            <button class="btn-submit" id="submit" type="submit">Sign in</button>
        </form>
        <a href="{% url 'password_reset_page' %}" class="forgot-link">Forgot your password?</a>
    </div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}